* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html,body {
    height:100%;
    width:100%;
    background-color:#111111;

}
body {
    padding-top:50px;
}
.nav-container {
    height:40px;
    width:100%;
    display:flex;
    position:fixed;
    background-color: rgba(143, 188, 143, 0.319);
    justify-content:center;
    align-items:center;
    top:0;
    z-index:1000;
}
.nav-container ul {
    display:flex;
    gap:40px;
    padding:5px 0;
    font-family:sans-serif;
    font-weight:600;
}
.nav-container ul li{
    list-style:none;
}
.nav-container ul li a {
    color:bisque;
    text-decoration:none;
    transition:all 0.5s ease;
}
.nav-container ul li a:hover {
    color:black;
    opacity:0.3;
    transform:scaleX(-3px);

}

.maindiv {
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    background-color: black;
    color:antiquewhite;
    width:100%;
    padding-top:20px;
    justify-content:center;
}
.audio-container {
    display:flex;
    flex-direction:column;
    background-color: rgba(128, 128, 128, 0.13);
    gap:20px;
    
}
.audio {
    background-color: rgba(128, 128, 128, 0.285);
    padding:8px;
    border:1px solid white;
    border-radius:5px;
    line-height:1.8rem;
    padding-top:15px;
    
}
h1 {
    font-weight:500;
    font-size:1.6rem;
}
p {
    font-weight:300;
    font-family:cursive;
}
.button-container {
    display:flex;
    justify-content:space-evenly;
    margin:10px auto;
    
}
button {
    min-width:100px;
    height:2em;
    background-color: rgba(128, 128, 128, 0.399);
    color:antiquewhite;
    padding:8px 10px;
    cursor:pointer;
    border-radius:4px;
}
button:hover {
    transform:scale(1.05);
    opacity:0.3;
    color:aquamarine;
}
.picture-container {
    border:1px solid white;
    height:fit-content;


}
img {
    max-width:100%;
    display:block;
    height:auto;
    margin:auto;
    padding-top:8px;
}
.video-container {
    display:flex;
    flex-direction:column;
    gap:20px;
    
}
.video {
    border:1px solid white;
    padding:8px;
    padding-top:15px;
    
}
iframe {
    max-width:100%;
    height:250px;
    border-radius:6px;
    padding-top:15px;
    

}
@media (max-width:600px) {
    .maindiv {
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-top:60px;
    }
    .audio-container, .picture-container, .video-container {
        width:100%;
        margin-bottom:20px;
    }
    iframe {
        width:100%;
        height:auto;
    }
    img {
        max-width:100%;
        height:auto;
    }
}
