* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

.hero-wraper {
    width: 100%;
    min-height: 100vh;
    background-image: url("hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.hero-wraper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);

}

header,
footer {
    width: 100%;
    max-width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    background-color: #332b39;
    color: bisque;
}

footer {
    padding-left: 8px;
}

.logo-container {
    display: flex;
    margin: 4px;
    align-items: flex-end;
}

nav ul {
    display: flex;
    gap: 3em;

}

nav ul li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: bisque;
    text-decoration: none;
}

nav ul li a {
    transition: color 0.4s ease-in;
}

nav ul li a:hover {
    color: rgb(30, 15, 1)
}

.social-links-container {
    display: flex;
    gap: 8px;
    margin: 0 12px
}

.fa-twitter {
    transition: color 0.5s ease-in-out;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-facebook {
    transition: color 0.5s ease-in-out;
}

.fa-facebook:hover {
    color: #1877F2;
}

.fa-instagram {
    transition: color 0.5s ease-in-out;
}

.fa-instagram:hover {
    color: #E1306C;
}

.portfolio-buttons {
    display: flex;
}

i.ham-menu {
    display: none;
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 26%;
    margin: 4rem 2rem;
    padding: 2rem;
    gap: 0.5rem;
    flex: 1;
    z-index: 1;
    position: relative;
}

.hero-container h1,
.logo {
    font-family: "Red Rose", sans-serif;
}

.hero-container h1,
#intro {
    color: black;
}

.logo {
    border: 2px solid bisque;
    border-radius: 50%;
    margin: 2px;
    padding: 2px;
    transition: color 0.3s ease-in;
}

.logo:hover {
    color: #ed6e98;
}

.tagline,
.tagline-mobile {
    display: flex;
    flex-direction: column;
    font-family: "Recursive";
    font-weight: 500;
    font-size: 1.2rem;
    align-items: flex-end;
}

.tagline-mobile {
    display: none;
}

#intro,
#read-more,
.btn,
nav ul li {
    font-family: "Recursive";
    font-weight: 500;
}

#intro {
    font-size: 1.4rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.portfolio-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.btn {
    display: flex;
    background-color: #332b39;
    text-decoration: none;
    color: cornsilk;
    width: 45%;
    max-width: 30ch;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in, color 0.3s ease-in;
}

.btn:hover {
    border-color: #E1306C;
    box-shadow: 0 0 10px #E1306C, 0 0 20px #E1306C;
    color: #ed6e98;
}

#read-more {
    display: flex;
    width: 90px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 4px 10px;
    cursor: pointer;

}

.social-links-container a {
    font-size: 1.5rem;
}


@media (max-width:1024px) {
    .header {
        height: 6rem;
        width: 100%;
    }

    .hero-wraper {
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-color: black;
    }

    nav {
        position: relative;
        width: 100%;

    }

    nav ul {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        flex-direction: column;
        background: #000;
        top: 1.5rem;
        gap: 0;
        z-index: 1000;
        transition: max-height 1s ease-in-out;
    }

    nav ul.show {
        max-height: 800px;
    }

    nav ul li {
        border: 1px solid white;
        padding: 4px;
    }

    nav ul li a:hover {
        color: rgb(164, 55, 55);
        transition: color 0.3s ease-out;

    }

    i.ham-menu {
        display: block;
    }

    .social-links-container {
        display: none;
    }

    .logo-container {
        position: relative;
        align-items: center;
        margin: 0;

    }

    .tagline {
        display: none;
    }

    .tagline-mobile {
        display: flex;
        font-weight: 500;
        width: 13rem;
    }

    i.ham-menu {
        position: absolute;
        right: 4px;
        top: 14px;
        font-size: 2rem;
    }

    .hero-container {
        max-width: 100%;
        gap: 2rem;
        margin: 7rem auto;

    }

    .hero-container h1 {
        color: aliceblue;
    }

    #intro {
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #eae4cbeb;
    }

    #read-more {
        align-self: center;
        font-size: 1rem;
    }


    .portfolio-buttons {
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        width: 90%;
    }

    .btn {
        width: 100%;
    }

    footer .social-links-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .social-links-container a {
        font-size: 2rem;


    }
}

/* 4.about page Css begins here */
#about-b {
    background-color: bisque;
}

.main-about-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    margin: 0 auto;
    gap: 6em;
    justify-content: center;
    padding: 8em;
    flex: 1;
}

.bio-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    max-width: 10%;
    font-family: "Red Rose", sans-serif;
}

.description-container {
    max-width: 60%;
}

#about-para {
    display: flex;
    font-family: "Recursive";
    font-weight: 500;
    font-size: 1.4em;
    flex-wrap: wrap;
}

#about-heading {
    font-size: 1.5em;
}

#about-heading2 {
    font-size: 2em;
}

#about-btn {
    width: 25%;
    height: 3em;
    background-color: #332b39;
    margin: 2rem auto;
    font-family: "Recursive";
    font-weight: 500;
    font-size: 1.2em;
    border: 1px solid white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#about-btn:hover {
    border-color: #E1306C;
    box-shadow: 0 0 10px #E1306C, 0 0 20px #E1306C;
}

@media (max-width:1024px) {
    .main-about-container {
        display: flex;
        gap: 10em;
        flex: 1;
    }

    #about-btn {
        width: 90%;
        align-items: center
    }
}


@media (max-width:768px) {

    .main-about-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        padding: 0;
        flex: 1;
    }

    .bio-container {
        max-width: 100%;
        padding: 3em;
        gap: 3em;
        padding: 4em;
    }

    #about-heading {
        font-size: 2em;
    }

    #about-heading2 {
        font-size: 2em;
    }

    .description-container {
        max-width: 100%;
        padding: 2em;
    }

    #about-btn {
        width: 90%;
        align-items: center
    }
}

/* projects page caa */
#projects-b {
    background-color: lightcyan;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    flex: 1;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

figure {
    font-weight: 500;
    font-family: cursive;
    text-align: center;
    transition: transform 0.5s ease;
    opacity: 1;
    transition: all 0.3s ease-out;
}

figure:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

@media (max-width:1024px) {
    .projects-container {
        align-items: flex-start;
        padding-top: 8em;
    }
}

@media (max-width:768px) {
    .projects-container {
        margin-bottom: 4px;
        gap:2em;
    }
}


/* Contact me form css */
.contact-container {
    display: flex;
    flex: 1;
    font-family: recursive;
    width: 100%;
    min-height: 100vh;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    gap: 4em;
    align-items: center;
}

#contactme {
    line-height: 1.5em;
}

#contact-h1 {
    margin-bottom: 8px;
}

#contact-h3 {
    margin-bottom: 8px;
    ;
}

.contactme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #332b39;
    margin: 10px;
    height: 2em;
    width: 8em;
    border: 2px solid bisque;
    transition: transform 0.3s ease-in-out;
}

.contactme-btn:hover {
    transform: scaleY(1.5);
}

#contact-link {
    color: darkblue;
    font: bold;
}

/*skills page Css */

#skills-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 4em;
    align-items: center;
    background-color: lightcyan;
    font-family: recursive;
}

#technical-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
}

#skills-h1 {
    margin: 2em 0;
}

#skills-h3 {
    margin-bottom: 10px
}

#skills-ul {
    line-height: 1.8em;
}