* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

.whole-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: #bdf2e0;
    padding: 10px;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    ;
}

i.fa-globe {
    font-size: 4em;
}

i.ham-menu {
    display: none;
}

nav {
    border: 2px solid black;
    padding: 8px;
    font-weight: 500;
    font-family: red rose;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 2rem;
}

.title-arrows {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.less-title {
    display: flex;
    gap: 3em;
}

i.less,
i.greater {
    font-size: 3em;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: recursive;
}

.title h3 {
    font-style: italic;
}

.pagination-dots {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: darkcyan;
    border-radius: 50%;
}

main {
    display: flex;
    gap: 2em;
    padding: 1em;
    justify-content: center;
}

#travel-image {
    height: 40%;
    width: 40%;
}

.title-para {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
    font-family: recursive;
}

.title-para a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    width: fit-content;
    color: black;
    background-color: darkcyan;
    height: 2em;
    padding: 4px;
    color: #dae9e9;
}

textarea {
    height: 5lh;
}

button {
    font-family: recursive;
    background-color: darkcyan;
    color: #dae9e9;
    padding: 4px;
    border: 2px solid white;
}

.title-para p {
    max-width: 70%;
    line-height: 1.5em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #dbeeee;
    font-family: recursive;
}

.sponsers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

#sponser-img {
    height: 10%;
    width: 10%;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(91, 144, 144);
    font-family: recursive;

}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.sitemap {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.sitemap ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: red rose;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.phone,
.email {
    display: flex;
    gap: 0.5em;
}

footer {
    display: flex;
    background-color: rgb(2, 48, 48);
    height: 2em;
    justify-content: center;
    align-items: center;
    color: azure;
    gap: 1em;
    font-family: recursive;
    font-weight: 300;
}

@media (max-width:1024px) {
    i.ham-menu {
        display: none;
    }

    #travel-image {
        height: auto;
    }

    #sponser-img {
        width: 15%;
    }
}

@media(max-width:768px) {
    nav {
        display: none;
    }
    i.ham-menu {
        display:block;
        position:sticky;
        float:right;
        right: 4px;
        top: 10px;
        font-size:2em;
    }
    i.fa-globe {
        display:flex;
        position:sticky;
        float:left;
        top:10px;
        left:2px;
    }
    .title-arrows {
        margin-top:2em;
    }
    main {
        flex-direction:column;
    }
    #travel-image {
        height:100%;
        width:100%;
    }
    .title-para {
        width:100%;
    }
    .title-para p {
        max-width:100%;
    }
    .sponsers {
        flex-wrap:wrap;
    }
    #sponser-img {
    width: 25%;
    }
    .contact {
        flex-direction:column;
    }
    .contact-us {
        padding:2em;
        align-items: center;
    }
    input, textarea, button {
        width:80%;
    }
    input, button {
        height:2em;
    }
    .sitemap {
        padding:2em;
        align-items:center;
    }
    footer {
        height:4em;
    }
}